<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8556499088-eapjl4ivateimotuqilrvodcl8oem8ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8556499088-eapjl4ivateimotuqilrvodcl8oem8ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBwxAVPHpXd2yA1MH6v3irpD-7ewwM5kmk</string>
	<key>GCM_SENDER_ID</key>
	<string>8556499088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.bcit.Body-Fat-Calculator</string>
	<key>PROJECT_ID</key>
	<string>bfc-app-7381e</string>
	<key>STORAGE_BUCKET</key>
	<string>bfc-app-7381e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8556499088:ios:499d3dc62d0652eaa24815</string>
</dict>
</plist>